/*general*/
.center_image{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
/*********/
.profile_image{
	border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 200px;
}
.profile_name{
	margin-top: 40px;
	margin-bottom: -25px;
	text-shadow: 2px 2px black;
	font-size: 60px;
	color:white;
}
.profile_profesion{
	font-size: 30px;
	color:#FF5126;
	margin-top: -20px;
	text-shadow: 2px 2px black;
}	

.skill_title{
	color:#FF5126;
}
.skill_paragraph{
	color:#333333;
}

.skill_logo1{
	height: 80px;
	width: 130px;
	margin-top: 75px;
}
.skill_logo2{
	margin-top: 75px;
	height: 60px;
	width: 110px;
}
.skill_logo3{
	height: 70px;
	width: 140px;
	margin-top: 75px;
}
.skill_logo4{
	height: 75px;
	width: 150px;
	margin-top: 75px;
}
.skill_logo5{
	height: 60px;
	width: 100px;
	margin-top: 75px;
}
.skill_logo6{
	height: 40px;
	width: 110px;
	margin-top: 75px;
}
.skill_logo7{
	height: 70px;
	width: 100px;
	margin-top: 55px;
}
.skill_logo8{
	height: 58px;
	width: 100px;
	margin-top: 75px;
}
@media only screen and (max-width: 768px) {
    .skill_box{
        border-bottom: 1px solid #BDBDBD;
    }
    .center_image{
    	margin-bottom: 50px;
    }
    /**/
    .profile_image{
		max-width: 140px;
		max-height: 140px;
	}
	.profile_name{
		margin-top: 20px;
		margin-bottom: 10px;
		text-shadow: 2px 2px black;
		font-size: 35px;
		color:white;
	}
	.profile_profesion{
		font-size: 20px;
		color:#FF5126;
		margin-top: -20px;
		text-shadow: 2px 2px black;
	}	
	/**/

}